.home{
  padding: 211px 0 81px;
  background: url('../imgjes/home.png') no-repeat;
  position: relative;

  &::before{
    content: url('../imgjes/BMW.png');
    right: 0;
    top: 10%;
    position:absolute;
  }

  &__title{
    display: flex;
    font-size: 44px;
    line-height: 96.5%;
    color: #FFFFFF;
  }
  &__subtitle{
    margin: 20px 0;
    font-size: 22px;
    line-height: 24px;
    color: #FFFFFF;
  }
  &__btns{
    display: flex;
    column-gap: 46px;
  }
  &__btn-green{
    padding: 17px 92px;
    cursor: pointer;
    border: none;
    background: linear-gradient(360deg, #077A34 0%, #19E270 100%);
    box-shadow: 0 9px 48px rgba(24, 220, 109, 0.15);
    border-radius: 43px;
    font-size: 15px;
    line-height: 18px;
    text-align: center;
    color: #FFFFFF;
  }
  &__btn-red{
    padding: 17px 45px;
    cursor: pointer;
    border: none;
    background: linear-gradient(360deg, #A8180F 0%, #DD463D 100%);
    box-shadow: 0 9px 48px rgba(211, 61, 52, 0.24);
    border-radius: 43px;
    font-size: 15px;
    line-height: 18px;
    text-align: center;
    color: #FFFFFF;
  }
  &__list{
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin-top: 183px;

  }
  &__info{
    display: flex;
    align-items: center;
    column-gap: 20px;
    font-size: 15px;
    line-height: 18px;
    color: #FFFFFF;
  }
}